<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>
<body>
    <h1>Alia Delmohammed</h1>
    <p>Hi there! My name is Alia Delmohammed and I am currently a second year student studying Computer Science and Geography at the UWI Mona. I am also an aspiring Air Traffic Controller who is passionate about all things Aviation.I am interested in Dynamic Web Development as it allows me the space and opportunity to be creative with coding while learning and exploring this dynamic field of computing.</p>
</body>
</html>